html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  height: 5px;
  background-color: #252524;
}

#button-up {
  width: 60px;
  height: 60px;
  background-color: rgba(63, 60, 60, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
}

#button-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

/* HEADER.................... */
header,
.aguacate-proyect,
.agave-proyect, .agave-espadin {
  background: url(./public/img/aguacate/background.jpg);
  background-size: cover;
  min-height: 480px;
  color: #fffffe;
  text-shadow: #2c2d29 -5px 0 3px;
  font-size: 2rem;
  z-index: 1;
  position: relative;
}

header h1 {
  font-weight: 300;
}

#header-overlay,
.aguacate-overlay,
.agave-overlay, .agave-espadin-overlay {
  background: rgb(22, 22, 26, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header-overlay {
  position: absolute;
  background: rgb(22, 22, 26, 0.5);
}

#logo {
  border-radius: 50%;
  border: solid 5px #f8f9fa;
  background-color: #f8f9fa;
  height: 100px;
  width: auto;
}
/* Info...................... */

#info {
  padding-top: 80px;
}

#info,
#aguacateOrganicProyect {
  background-color: #f8f9fa;
}

#info,
#proyects,
#aguacateOrganicProyect,
#agaveOrganicProyect {
  color: #3f3f3e;
  text-align: left;
}

#info img {
  border-radius: 50%;
  box-shadow: 6px 6px 5px #454242;
}

.info {
  background-color: #f8f9fa;
}

.img-info-2-a img,
.img-info-2-b img {
  box-shadow: -6px 6px 5px #454242;
}

/* Proyects.................. */
#proyects p {
  font-weight: 600;
  text-shadow: none;
}

.aguacate-proyect,
.agave-proyect, .agave-espadin {
  border-bottom: solid 2px #ffffff;
  background-image: url(./public/img/aguacate/background-aguacate-proyect.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.agave-proyect, .agave-espadin {
  background-image: url(./public/img/agave/background-agave-proyect.jpg);
  border: none;
}

.proyect-link {
  text-decoration: none !important;
  color: #ffffff;
  background-color: red;
  text-shadow: none;
  font-weight: 600;
}

.proyect-link:hover {
  background-color: rgb(65, 3, 3);
  color: #ffffff;
}

/* Aguacate Hass Proyect.......... */
.agronegocio-title {
  color: #9b6224;
}

.objetivo-title h3 {
  color: #007bff;
}
.herramienta-number{
    background-color: rgb(223, 28, 28);
    color:#f8f9fa;
    text-align: center;
    width: fit-content;
    padding: 1rem 1.5rem;
    margin-bottom: 20px;
}

.herramienta-title {
  color: #ade9b7;
}

.carousel{
  box-shadow: 6px 6px 5px #111010;
}

.carousel-inner img {
  height: 350px !important;
}

/* Map.........................*/
.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 300px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 300px;
}
.gmap_iframe {
  height: 300px !important;
}

.map {
  padding: 0;
  height: fit-content;
   box-shadow: 6px 6px 5px #111010;
}

video{
  box-shadow: 6px 6px 5px #454242;
  width: 250px;
}

/* Agave Organic Proyect ........... */

.agave-espadin{
  background-image: url(./public/img/agave/agave-espadin-background.jpg);
}

#agaveOrganicProyect {
  background-color: #ade9b7;
}

.mapouter2 {
  position: relative;
  text-align: right;
  width: 100%;
  height: 250px;
}
.gmap_canvas2 {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 250px;
}
.gmap_iframe2 {
  width: 100% !important;
  height: 250px !important;
}

#countdown {
  width: 600px;
  height: 100px;
}

#agaveOrganicProyect img {
  height: 150px;
  width: auto;
}

/* Button Up.................... */
.button-up-container {
  position: fixed;
  width: 4.3rem;
  height: 4.3rem;
  z-index: -1;
}

.button-up {
  width: 0rem;
  height: 0rem;
  background-color: #2c2d2933;
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.button-up span {
  position: absolute;
  font-size: 4rem;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: white;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .button-up {
  animation: popup 0.3s ease-in-out;
  width: 4.3rem;
  height: 4.3rem;
  z-index: 11;
  -webkit-animation: popup 0.3s ease-in-out;
}

.show span {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}

/* Footer........................... */

.follow-us img {
  height: 80px;
  width: auto;
}

/* RESPONSIVE.......................................... */

/* 375px................................ */
@media (min-width: 375px) {
  .title-icon {
    height: 50px !important;
  }

  p, li {
    font-size: 1.3rem;
    text-align: justify;
  }
  /* Header............... */
  header {
    min-height: 337px;
  }

  header h1 {
    margin-top: 149px;
    font-size: 1.9rem;
  }

  #logo {
    height: 120px;
    width: auto;
    margin-top: 78px !important;
  }

  /* Info................. */

  .img-info-1 {
    margin-bottom: 25px;
  }

  #info img {
    max-width: 55%;
  }

  .img-info-2-a {
    display: none;
  }

  /* Proyects................. */
  #proyects h2 {
    font-size: 1.8rem;
  }

  .img-proyects-1 {
    display: flex !important;
  }

  .img-proyects-1 img,
  .comercio-img img {
    height: 150px;
    width: auto;
  }

  .proyect-link {
    font-size: 1.6rem;
  }

  /* Aguacate Hass Organico......... */
  #aguacateOrganicProyect h2,
  #agaveOrganicProyect h2 {
    font-size: 1.6rem;
  }

  /* Agave......................... */
  #countdown {
    font-size: 25px;
  }

  /* Button Up........................ */
  .button-up-container {
    bottom: 18px;
    right: 0rem;
  }

  /* Footer......................... */
  .footer-icon img {
    height: 80px;
    width: auto;
  }

  .footer-icon span {
    font-size: 1.3rem;
  }
}
/* 440px................................ */
@media (min-width: 440px) {
  /* Header............... */
  header h1 {
    margin-top: 150px;
  }

  #logo {
    height: 132px;
    margin-top: 63px !important;
  }

  /* Proyects................. */
  #proyects h2,
  #aguacateOrganicProyect h2,
  #agaveOrganicProyect h2 {
    font-size: 1.8rem;
  }

  .img-proyects-1 img,
  .comercio-img img {
    height: 200px;
    width: auto;
  }
  /* Aguacate Hass Organico......... */
  #aguacateOrganicProyect h3 {
    font-size: 1.7rem;
  }

  /* Footer......................... */
  .footer-icon span {
    font-size: 1.5rem;
  }
}

/* 576px................................ */
@media (min-width: 576px) {
  /* Header............... */
  header h1 {
    margin-top: 135px;
    font-size: 3rem;
  }

  /* Proyects........................... */
  #proyects h2,
  #aguacateOrganicProyect h2,
  #agaveOrganicProyect h2 {
    font-size: 2.3rem;
  }

  /* Aguacate Organic Proyect........... */
  #aguacateOrganicProyect h3 {
    font-size: 2.2rem;
  }

  .title-icon {
    height: 80px !important;
  }
}

/* 768px................................ */
@media (min-width: 768px) {

  /* Header............... */
  header {
    min-height: 497px;
  }

  header h1 {
    margin-top: 204px;
    font-size: 4rem;
  }

  #logo {
    height: 165px;
    width: auto;
    margin-top: 115px !important;
  }

  /* Info................. */

  #info img {
    max-width: 100%;
  }

  /* Proyects................. */
  #proyects h2,
  #aguacateOrganicProyect h2,
  #agaveOrganicProyect h2 {
    font-size: 3.2rem;
  }

  /* Aguacate Organic Proyect...... */
  #aguacateOrganicProyect h4 {
    font-size: 2.5rem;
  }

  #aguacateOrganicProyect span {
    font-size: 1.3rem;
  }

  /* Agave........................... */
  #countdown {
    font-size: 35px;
  }

  .button-up-container {
    bottom: 250px;
    right: 2rem;
  }

  /* Footer........................ */
  .footer-icon img {
    height: 60px;
    width: auto;
  }

  .footer-icon span {
    font-size: 1.1rem;
  }
}

/* 992px................................... */
@media (min-width: 992px) {
  /* Header.......................... */
  header {
    min-height: 450px;
  }

  header h1 {
    margin-top: 198px;
    font-size: 5.3rem;
  }

  #logo {
    height: 200px;
    width: auto;
    margin-top: 32px !important;
  }

  /* Info.............................. */
  #info {
    font-size: 1.5rem;
  }

  /* Proyects.......................... */
  .proyect-link {
    font-size: 2.5rem;
  }
  #proyects p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  /* Aguacate Organic Proyect ...........*/
  #aguacateOrganicProyect span {
    font-size: 1.7rem;
  }

  /* footer */
  footer p{
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  p,
  li {
    font-size: 1.6rem;
  }
  /* Info................................. */
  #info {
    font-size: 1.7rem;
  }

  /* Proyects .............................*/
  #proyects p {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
